
.chessboard-outline {
    position: relative;
    width: 32rem;
    height: 44rem; 
    border: 1px solid white;
     left: -6rem; 
     top:-1rem;
  }
  
  .white-outline {
    position: absolute;
    top: 0;
    right: 0;
    width: 12.5%;
    height: 100%;
    /* border-right: 2px solid white; White outline on the right side */
    box-sizing: border-box;
    left:-13rem;
  }

  .te {
    color: aliceblue;
    margin-left: 20px;
    margin-top: 2rem;
   
    height: 3rem;
    margin-left: 14rem;
    margin-top: 3.5rem;
    width: 30rem; /* Set the width where you want to break the sentence */
    word-break: break-all; /* Allow sentence to break at the specified width */
    overflow-wrap: break-word; /* Alternative property for word-break */
  }

  .text-container {
    max-height: 300px; /* Add a max height to enable scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-top: -38rem;
  }
  
  .text-container p {
    max-width: 300px; 
  max-height: 30px;
  overflow: auto;
    margin: 4px 0; /* Add margin between messages */
    padding: 6px 12px; /* Add padding to messages */
    border-radius: 8px; /* Round the corners of messages */
    margin-left: 1.5rem;
  }

  .text-container h2 {
  color: aqua;
  margin-left: 2rem;
  }
  
  .sender {
    background-color: #007bff; /* Blue color for sender messages */
    color: white;
    width: 28rem;
    
  }
  
  .receiver {
    background-color: #f0f0f0; /* Light gray color for receiver messages */
  }