/* SettingsInterface.css */
.settings-interface {
    position: absolute;
    top: 24.2rem;
    left: 35rem;
    width: 26rem;
    height: 38rem;
    background-color: #fff; /* Set your desired background color */
    transform: translateY(-50%);
    /* Add any additional styles for your settings interface */
  }
  
  .close-button {
    position: absolute;
    cursor: pointer;
    margin-top:28rem;
    margin-left: -24rem;
  }


  .theme-options{
    margin-top:-2.8rem;
    margin-left: 17rem;
  }

  .pie{
    margin-top:1rem;
    margin-left: 1rem;
  }

  .apply-button{
    margin-top:4rem;
    margin-left: 17rem;
  }
